.footerContainer {
  padding: 40px 15% 40px 15%;
  display: grid;
  grid-template-areas: "footer-logo doormat-nav contact-links social-media-links";
  background-color: #495e57;
}

.footerItem {
  font-family: "Karla", sans-serif;
  color: #ffffff;
}

.footerItem h5 {
  font-size: 16px;
  font-weight: 800;
}

.footerItem ul {
  padding: 0;
}

.footerItem li {
  list-style: none;
}

.footerItem a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.footerLogo {
  grid-area: footer-logo;
}

.footerLogo img {
  height: 200px;
}

.doormatNav {
  grid-area: doormat-nav;
}

.contactLinks {
  grid-area: contact-links;
}

.socialMediaLinks {
  grid-area: social-media-links;
}
