/* Highlights Section */

.specialsTitle {
  display: flex;
  justify-content: space-between;
  padding: 40px 15% 40px 15%;
}

.specialsTitle h2 {
  margin: 0px;
}

.special-card {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin: 0 15% 0 15%;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

/* Specials Cards */

.special-card-container {
  background-color: #edefee;
  width: 300px;
  height: 520px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.special-card-text {
  padding: 0 20px 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 15%;
}

.special-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-tag {
  color: #ee9972;
}

.special-card-container a {
  padding: 0 0 15px 20px;
  color: black;
}
