form {
  margin: 40px 15% 80px 15%;
}

label {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

legend {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

fieldset {
  border-radius: 16px;
  background-color: white;
  border: none;
}

.form-title {
  display: flex;
  justify-content: flex-start;
}

.form-container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: repeat(5, 80px);
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input {
  width: 300px;
  height: 40px;
  border-radius: 16px;
  background-color: #edefee;
  border: #edefee;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}

input:focus {
    outline: none !important;
    border: 3px solid #4b5e57;
}

.field select {
  width: 150px;
  height: 40px;
  border-radius: 16px;
  background-color: #edefee;
  border-style: none;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}

select:focus {
    outline: none !important;
    border: 3px solid #4b5e57;
}

.date input {
    width: 200px;
}

.guests input {
    width: 40px;
}

.submit-button input {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #f4ce14;
  padding: 15px;
  border-radius: 16px;
  border-style: none;
  transition-duration: 0.2s;
}

.submit-button input:hover {
  background-color: #ee9972;
  cursor: pointer;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
}