@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Markazi Text', serif; */
/* font-family: 'Karla', sans-serif; */

/* Global Styles */

h1 {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-weight: 500;
  color: #f4ce14;
}

/* Sub-titles */
h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: 400;
}

/* Section titles & buttons & form  */
h3 {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

/* Card titles */
h4 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

/* Nav & section catagory & footer titles */
h5 {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: white;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Navbar */

.navBar {
  margin: 1% 15% 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}

.navLinks a:hover {
  color: #ee9972;
}

/* Main  */

.heroSection {
  display: flex;
  background-color: #4B5E57;
  padding: 40px 15% 40px 15%;
}

.heroSection h1 {
  margin: 0px;
}

.heroSection h2 {
  margin: 0px;
  color: white;
  transform: translateY(-20%);
}

.heroSection p {
  color: white;
  margin: 40px 15% 40px 0;
}

.heroImage img {
  height: 350px;
  border-style: none;
  border-radius: 8px;
}

.reserveTableButton {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #f4ce14;
  padding: 15px;
  border-radius: 16px;
  border-style: none;
}


/* Highlights/Specials section of Main */

.specialsTitle {
  display: flex;
  justify-content: space-between;
  padding: 40px 15% 40px 15%;
}

.specialsTitle h2 {
  margin: 0px;
}

/* Footer set up using CSS Grid */

.footerContainer {
  padding: 40px 15% 40px 15%;
  display: grid;
  grid-template-areas: "footer-logo doormat-nav contact-links social-media-links";
  background-color: #495e57;
}

.footerItem {
  font-family: 'Karla', sans-serif;
  color: #ffffff;
}

.footerItem h5 {
  font-size: 16px;
  font-weight: 800;
}

.footerItem ul {
  padding: 0;
}

.footerItem li {
  list-style: none;
}

.footerItem a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.footerLogo {
  grid-area: footer-logo;
}

.footerLogo img {
  height: 200px;
}

.doormatNav {
  grid-area: doormat-nav;
}

.contactLinks {
  grid-area: contact-links;
}

.socialMediaLinks {
  grid-area: social-media-links;
}
